body{
    background-color: #1e1d32;
   margin: 0%;
    
}

.toptable{
    background-color: #2d2b56;
    display: flex;
    width: 1080px;
    height: 124px;
    color: white;
   
    margin-left: 113px;
   justify-content: space-between;
    
}
.search{
    background-color: #2d2b56;
    width: 270px;
    height: 34px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 15px ;
    border: 1px solid #7c69e3;
    border-radius: 5px;
}
.colum2{
    text-align: center;
    padding-right: 68px;
    margin-top: 20px;
}

.btn{
    width: 59px;
    height: 29px;
    border: 1px solid #7c69e3;
    border-radius: 5px; 
    background-color: #7c69e3; 
    color: #fff;
    cursor: pointer;
    
}
.toc{
    border-radius: 5px; 
    background-color: #7c69e3; 
    width: 568px;
}
.he{
    margin-top: 15px;
    background-color: #7c69e3; 
    border-radius: 5px; 
}



.img--class{
    cursor: pointer;
    background-color: #2d2b56;
    border: 2px solid #2d2b56;
    width: 32px;
    height: 32px;
    color: #fff;
    margin-top: 3px;
    
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;

    background-position: center;
   
}
.a{
    height: 20px;
    width: 20px;
    
}


.bottable{
    height: 376px;
    width: 1080px;
    background-color: #3d0e96;
    margin-left: 113px;
    margin-right: 113px;
}
.list{
    margin-left: 30px;
    color: #fff;
    text-align: center;
    font-size: small;
    padding-top: 20px;
    margin-right: 30px;
    display: flex;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}
.b{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #ebdd11;
    margin: 5px;
}
.champ{
    height: 70px;
        width: 69px;
        
}
.row1{
    display: flex;
    margin: 5px;
}
.row2{
    display: flex;
    margin: 5px;
}
.row3{
    display: flex;
    margin: 5px;
}
.row4{
    display: flex;
    margin: 5px;
}
footer{
    margin-top: 202px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #13121e;
text-align: center;
    color: #fff;
    height: 165px;
}