{% extends "getchamp/base.html" %}
{% block content %}
{% load static %}
<!doctype html>
<html>
<head>
    <title>My webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta property="og:title" content=">
            <meta property=" og:description" content="">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="zn-container">
        <div id="znid-870114689252" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top" data-border-enable="false" data-shadow-enable="false">
            <div class="zn-element zn-lg  ">
                <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                    <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                        <div class="zn-children">
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-914574828734" class="zn-element-wrapper 
                
              " data-type="heading" data-border-enable="false" data-background-type="color" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <h3 id="" class="zn-heading " data-element-animation="" data-scroll-animation="">
                                                <div><br></div>
                                                <div><br></div>Chào mừng bạn đến với Team Fight Tactics<p><br></p>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-646110727219" class="zn-element-wrapper 
                
              " data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-text " data-element-animation="" data-scroll-animation="">
                                                <div><br></div>Where the Legend begins<p><br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-005118985199" class="zn-element-wrapper 
                
              " data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-text " data-element-animation="" data-scroll-animation="">Ở đây chúng tôi có đủ những thông tin bạn cần về trò chơi<p>Sẵn sàng cùng bạn làm nên những phút giây diệu kỳ</p>
                                                <p><br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-080886557609" class="zn-element-wrapper 
                
              " data-type="count-up" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-count-up " data-element-animation="" data-scroll-animation="">
                                                <span>$</span><span class="zn-count-up-content">0</span><span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="znid-933922433979" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top" data-border-enable="false" data-shadow-enable="false">
            <div class="zn-element zn-lg  ">
                <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                    <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                        <div class="zn-children">
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-666643285853" class="zn-element-wrapper 
                
              " data-type="image" data-filter="none" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div class="zn-image">
                                                <img id="" class=" zn-nodrag" src="https://magazine.artstation.com/wp-content/uploads/2021/12/TFT_MID521_ART-STATION-BANNER_V001_AVEIGER.png" alt="" draggable="false" data-element-animation="" data-scroll-animation="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-817057530634" class="zn-element-wrapper 
                
              " data-type="heading" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <h3 id="" class="zn-heading " data-element-animation="" data-scroll-animation="">
                                                <div><br></div>
                                                <p><br></p>Những thứ chúng tôi có cho bạn...
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-579996114126" class="zn-element-wrapper 
                
              " data-type="heading" data-background-type="color" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <h3 id="" class="zn-heading " data-element-animation="" data-scroll-animation="">
                                                <div><span style="color: inherit; font-family: inherit; font-size: inherit;"><br></span></div>
                                                <p><span style="color: inherit; font-family: inherit; font-size: inherit;">Tướng</span></p>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-898510915762" class="zn-element-wrapper 
                
              " data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-text " data-element-animation="" data-scroll-animation="">Thông tin về các tướng, thuộc tính, giá tiền...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-179849961201" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-full-width="false" data-vertical-align="top" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                                                <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                                                    <div class="zn-children">
                                                        <div class="zn-child">
                                                            <div class="zn-template">
                                                                <div id="znid-050562299589" class="zn-element-wrapper 
                
              " data-type="image" data-filter="none" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                                                    <div class="zn-element zn-lg  ">
                                                                        <div class="zn-image">
                                                                            <img id="" class=" zn-nodrag" src="https://img.taplb.com/md5/40/13/401371022c2c1cdf8bbc23accaedf12c/-_-/fit-in/1320x0/filters:quality(80):background_color(white):format(jpeg)" alt="" draggable="false" data-element-animation="" data-scroll-animation="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="znid-503599671862" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top" data-border-enable="false" data-shadow-enable="false">
            <div class="zn-element zn-lg  ">
                <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                    <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                        <div class="zn-children">
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-638864342362" class="zn-element-wrapper 
                
              " data-type="heading" data-background-type="color" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <h3 id="" class="zn-heading " data-element-animation="" data-scroll-animation="">Hệ&nbsp; | Tộc</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-147666490563" class="zn-element-wrapper 
                
              " data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-text " data-element-animation="" data-scroll-animation="">Thông tin về hệ tộc của từng tướng, thành viên của từng hệ, tộc...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-438963378684" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-full-width="false" data-vertical-align="top" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                                                <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                                                    <div class="zn-children">
                                                        <div class="zn-child">
                                                            <div class="zn-template">
                                                                <div id="znid-428228084089" class="zn-element-wrapper 
                
              " data-type="image" data-filter="none" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                                                    <div class="zn-element zn-lg  ">
                                                                        <div class="zn-image">
                                                                            <img id="" class=" zn-nodrag" src="https://i.imgur.com/HBH0akd.jpg" alt="" draggable="false" data-element-animation="" data-scroll-animation="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="znid-211421070765" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top" data-border-enable="false" data-shadow-enable="false">
            <div class="zn-element zn-lg  ">
                <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                    <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                        <div class="zn-children">
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-877756588354" class="zn-element-wrapper 
                
              " data-type="heading" data-background-type="color" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <h3 id="" class="zn-heading " data-element-animation="" data-scroll-animation="">Meta Game</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-181792078215" class="zn-element-wrapper 
                
              " data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-text " data-element-animation="" data-scroll-animation="">Thông tin về meta game, lối chơi thịnh hành, các trận đấu...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-117732716700" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-full-width="false" data-vertical-align="top" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                                                <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                                                    <div class="zn-children">
                                                        <div class="zn-child">
                                                            <div class="zn-template">
                                                                <div id="znid-600665606393" class="zn-element-wrapper 
                
              " data-type="image" data-filter="none" data-background-type="none" data-border-enable="false" data-shadow-enable="false">
                                                                    <div class="zn-element zn-lg  ">
                                                                        <div class="zn-image">
                                                                            <img id="" class=" zn-nodrag" src="https://cdn0.gamesports.net/storage/156000/156116.jpg" alt="" draggable="false" data-element-animation="" data-scroll-animation="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="znid-581938220987" class="zn-element-wrapper 
                
              " data-type="row" data-layout="12 12 12" data-background-type="color" data-full-width="false" data-vertical-align="top" data-border-enable="false" data-shadow-enable="false">
            <div class="zn-element zn-lg  ">
                <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                    <div class="zn-column zn-column-lg-12 zn-column-md-12 zn-column-sm-12">
                        <div class="zn-children">
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-419252190745" class="zn-element-wrapper 
                
              " data-type="heading" data-background-type="color" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <h3 id="" class="zn-heading " data-element-animation="" data-scroll-animation="">Và còn nhiều những thứ khác nữa</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-240172028399" class="zn-element-wrapper 
                
              " data-type="text" data-background-type="none" data-border-enable="false" data-shadow-enable="false" data-text-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div id="" class="zn-text " data-element-animation="" data-scroll-animation="">Rất nhiều điều diệu kỳ vẫn đang chờ bạn khám phá. Hãy bắt đầu ngay nào...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zn-child">
                                <div class="zn-template">
                                    <div id="znid-730269330311" class="zn-element-wrapper 
                
              " data-type="row" data-layout="6-6 6-6 12-12" data-background-type="color" data-full-width="false" data-vertical-align="top" data-border-enable="false" data-shadow-enable="false">
                                        <div class="zn-element zn-lg  ">
                                            <div class="zn-row " id="" data-element-animation="" data-scroll-animation="">
                                                <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-12">
                                                    <div class="zn-children">
                                                        <div class="zn-child">
                                                            <div class="zn-template">
                                                                <div id="znid-362912307187" class="zn-element-wrapper 
                
              " data-type="image" data-border-enable="true" data-filter="none" data-background-type="none" data-shadow-enable="false">
                                                                    <div class="zn-element zn-lg  ">
                                                                        <div class="zn-image">
                                                                            <img id="" class=" zn-nodrag" src="https://happygamer.com/wp-content/uploads/2019/08/Teamfight-Tactics-and-Death-Recap-_-Riot-Pls-League-of-Legends-5-28-screenshot-1.png" alt="" draggable="false" data-element-animation="" data-scroll-animation="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="zn-column zn-column-lg-6 zn-column-md-6 zn-column-sm-12">
                                                    <div class="zn-children">
                                                        <div class="zn-child">
                                                            <div class="zn-template">
                                                                <div id="znid-054752080902" class="zn-element-wrapper 
                
              " data-type="image" data-border-enable="true" data-shadow-enable="true" data-filter="none" data-background-type="none">
                                                                    <div class="zn-element zn-lg  ">
                                                                        <div class="zn-image">
                                                                            <img id="" class=" zn-nodrag" src="https://i2.wp.com/alfabetajuega.com/hero/2022/01/TFT-celebra-con-el-festival-de-la-leyenda-lunar-1.jpg" alt="" draggable="false" data-element-animation="" data-scroll-animation="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zn-addon-wrapper" type="page-settings">
        </div>
        <div class="zn-addon-wrapper" type="container-style">
        </div>
        <div class="zn-addon-wrapper" type="messenger">
            <div class="zn-addon zn-lg  ">
                <div class="zn-messenger">
                    <div class="fb-customerchat" page_id="" theme_color="#0A7CFF" greeting_dialog_display="hide"></div>
                </div>
            </div>
        </div>
        <div class="zn-addon-wrapper" type="announcement-bar">
        </div>
        <div class="zn-addon-wrapper" type="breakpoints">
        </div>
        <div class="zn-addon-wrapper" type="custom-css">
        </div>
    </div>
    <script src="{% static 'javascripts/main.js' %}"></script>
</body>
</html>
{% endblock %}